.root {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(42, 42, 42, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

.form {
    margin-top: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.input {
    width: 258px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

