.root {
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow-y: auto;
}

.paper {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    min-height: fit-content;
    justify-content: center;
    
}

.addRecordForm {
    margin-top: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.textField {
    width: 240px;
}

.buttonGroup {
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}