.fileList {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    width: 240px;
}

.file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.deleteButton {
    height: 32px;
    width: 32px;
}

.fileName {
    width: 160px;
}